/*****************************************************************************/
/*
/* Rohan Likhite 2015
/*
/*****************************************************************************/

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 5em;
}

#superLines {
    margin-top: -50px;
    margin-bottom: -127px;
    margin-left: -4em;
    margin-right: -2.15em;
    left: 0;
    height: 128px;
    background: #f1f1f1;
    z-index: -999;
    width: 140%;
}

html,
body {
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #000000;
    background-color: #f1f1f1;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 400;
    font-size: 0.85em;
    overflow: hidden;
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
    border: none;
}

.post a {
    background: #ead750;
    padding: 0 0.5em;
}

a img {
    outline: none;
}

a:hover {
    color: #555;
    border: none;
}

.separator {
    color: #555;
}


/*****************************************************************************/


/*
/* Home
/*
/*****************************************************************************/

#logo {
    max-width: 128px;
    margin-bottom: 10px;
}

#logoimage {
    z-index: 999;
    margin-bottom: 10px;
}

.posts a {
    color: #444;
}

.posts a:hover {
    color: #777;
}

.posts-list {
    list-style-type: none;
}

.posts-list li {
    text-align: center;
    line-height: 1.75em;
}


/*****************************************************************************/


/*
/* Site
/*
/*****************************************************************************/

.site {
    height: 100%;
    width: 100%;
    line-height: 1.25em;
}

.title {
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.tagline {
    width: 100%;
    color: #787878;
    font-weight: 600;
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
}

.posts {
    border-top: 1px solid #e7e7e7;
    margin-top: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.25em;
}

.footer {
    font-size: 0.95em;
    border-top: 1px solid #e7e7e7;
    padding-top: 1.25em;
    padding-bottom: 0em;
    overflow: hidden;
    float: center;
    text-align: center;
}


/*****************************************************************************/


/*
/* Posts
/*
/*****************************************************************************/

#date {
    font-size: 16px;
    padding-top: 0.25em;
    margin-bottom: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #787878;
}

#cover-photo-container,
#info-container {
    display: block;
}

#info-container {
    margin-top: 3em;
}

#title {
    color: #464646;
    margin-bottom: 0.35em;
    font-size: 5em;
    line-height: 0.8em;
    font-family: 'Vesper Libre', 'Helvetica', Arial, sans-serif;
}

.post {
    line-height: 24px;
    max-width: 100%;
    clear: both;
    padding-right: 10%;
    padding-left: 10%;
}

.post h2 {
    margin-top: 1.25em;
    margin-left: -0.5em;
    margin-bottom: 1.25em;
}

.post a,
#about a {
    border-bottom: 1px solid #8085C1;
}

.post a:hover {
    border: none;
}


/* standard */

.post pre {
    border: 1px solid #ddd;
    background-color: #73c479;
    padding: 0 .1em;
}

.post code {
    border: none;
}

.post p {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 1.3em;
    margin-bottom: 1.45em;
    text-align: center;
    font-weight: lighter;
    line-height: 1.5em;
}

.post ul,
.post ol {
    margin-left: 2.35em;
    margin-bottom: 1.25em;
}

code {
    font-family: "Courier New", Courier;
    color: #fff;
    font-size: 0.8em;
    background-color: #5d5d5d;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    -moz-border-radius: 3px;
    font-weight: 700;
    padding: 1px 3px;
}


/* terminal */

.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}


/*****************************************************************************/


/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
    vertical-align: top;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    float: left;
    width: 20%;
    padding-left: 4em;
    padding-right: 2.125em;
    border-right: 1px solid #e7e7e7;
}

.content {
    padding-left: 2.125em;
}

.header {
    text-align: center;
    padding-top: 2.5em;
    font-size: 1.1em;
}

.post-link {
    margin-bottom: 0.75em;
}

.post-title {
    font-weight: 600;
    font-size: 1.25em;
    text-transform: uppercase;
}

.post-date {
    color: #8a8a8a;
    font-family: Monaco, "Courier New", monospace;
    font-weight: 600;
    font-size: 0.65em;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#sidebar-button {
    height: intrinsic;
    cursor: pointer;
    display: none;
    padding: 15px 5px 0px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
    opacity: 0.7;
}


/*****************************************************************************/


/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
    margin-top: 1.5em;
    margin-bottom: 1.45em;
    border-top: 1px dotted #e7e7e7;
}

.colophon p {
    margin-top: 1.25em;
    font-size: 0.95em;
    color: #777;
}

.myButton {
    margin-top: 5%;
}

.centerText {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    width: 100%;
}

.contentText {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    text-align: center;
}

#jackieImage {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/404.png);
    width: 303px;
    height: 186px;
    background-size: 303px 186px;
}

#termHeader {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    height: 22px;
    background-color: #d1d1d5;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#termIcons {
    background-image: url(../images/termIcons.png);
    background-size: 52px 12px;
    width: 52px;
    height: 100%;
    background-repeat: no-repeat;
    margin-left: 7px;
    margin-top: 5px;
    display: inline-block;
    float: left;
    cursor: default;
}

#termIcons:hover {
    background-image: url(../images/termIconsHover.png);
    background-size: 52px 12px;
    cursor: default;
}

#cursor {
    background-image: url(../images/blink.gif);
    margin-left: -5px;
    margin-bottom: -2px;
    width: 7px;
    height: 14px;
    display: inline-block;
}

.termText {
    margin-top: 3px;
    font-size: 1em;
    font-family: 'PT Mono', Arial, sans-serif;
    color: #c7c7c7;
    margin-right: 10px;
    text-align: left;
}
.termText > a {
  color: #ead750;;
}

.left {
    float: left;
}

.right {
    width: 50%;
    float: right;
}

.newRow {
    clear: both;
    width: 500px;
}

.linefix {
    display: inline-block;
    text-align: left;
}

#termTitle {
    color: black;
    width: 50px;
    height: 100%;
    margin-left: 38%;
    margin-top: 4px;
    display: inline-block;
    float: auto;
}

#termBody {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -10px;
    margin-top: 5px;
}

.custom-scroll {
    width: 300px;
    height: 300px;
    overflow: scroll;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #999;
}

.custom-scroll::-webkit-scrollbar-corner:vertical {
    background-color: black;
}

#termWindow {
    margin-top: -25%;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* General button style (reset) */

.btn {
    border: none;
    font-family: inherit;
    font-size: 1em;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 3px 20px;
    display: inline-block;
    margin-bottom: 4px;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Button 4 */

.btn-4 {
    border-radius: 50px;
    border: 2px solid #ead750;
    color: #000000;
    background: #ead750;
    overflow: hidden;
}

.btn-4:hover {
  border-color: #dec132;  
}

.btn-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-4:active:before {
    color: #17954c;
}


/* Button 4a */

.btn-4a:before {
    left: 130%;
    top: 0;
}

.btn-4a:hover:before {
    left: 80%;
}


/* Button 4b */

.btn-4b:before {
    left: -50%;
    top: 0;
}

.btn-4b:hover:before {
    left: 10%;
}


/* Button 4c */

.btn-4c:before {
    left: 70%;
    opacity: 0;
    top: 0;
}

.btn-4c:hover:before {
    left: 80%;
    opacity: 1;
}


/* Button 4d */

.btn-4d:before {
    left: 30%;
    opacity: 0;
    top: 0;
}

.btn-4d:hover:before {
    left: 10%;
    opacity: 1;
}

.goalProgress {
    background: #f9f6f6;
    padding: 1px;
    margin-top: -25px;
    margin-bottom: 7px;
    width: 100%
}

div.progressBar {
    background: #26ADEF;
    color: #fff;
    font-size: 1.5em;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
    padding: 1px;
    display: block;
    overflow: hidden;
    width: 20px;
}

span.goalAmount {
    display: none;
    text-indent: -9999px;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #26ADEF;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}


/*!
 * avgrund 0.1
 * http://lab.hakim.se/avgrund
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

.avgrund-active body {
    -webkit-transform: scale( 0.9);
    -moz-transform: scale( 0.9);
    -ms-transform: scale( 0.9);
    -o-transform: scale( 0.9);
    transform: scale( 0.9);
}

.avgrund-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background: rgba( 0, 0, 0, 0.5);
}

.avgrund-active .avgrund-cover {
    visibility: visible;
    opacity: 1;
}

.avgrund-contents {
    position: relative;
    padding: 20px;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.avgrund-active .avgrund-contents {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

.no-blur.avgrund-active .avgrund-contents {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.avgrund-popup {
    position: absolute;
    width: 60%;
    height: auto;
    left: 50%;
    top: 50%;
    margin: -20% 0 0 -30%;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    padding: 20px;
    background: black;
    box-shadow: 0px 0px 20px rgba( 0, 0, 0, 0.6);
    border-radius: 6px;
    resize: vertical;
    -webkit-transform: scale( 0.8);
    -moz-transform: scale( 0.8);
    -ms-transform: scale( 0.8);
    -o-transform: scale( 0.8);
    transform: scale( 0.8);
}

.avgrund-active .avgrund-popup-animate {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale( 1.1);
    -moz-transform: scale( 1.1);
    -ms-transform: scale( 1.1);
    -o-transform: scale( 1.1);
    transform: scale( 1.1);
}

.avgrund-popup.stack {
    -webkit-transform: scale( 1.5);
    -moz-transform: scale( 1.5);
    -ms-transform: scale( 1.5);
    -o-transform: scale( 1.5);
    transform: scale( 1.5);
}

.avgrund-active .avgrund-popup.stack {
    -webkit-transform: scale( 1.1);
    -moz-transform: scale( 1.1);
    -ms-transform: scale( 1.1);
    -o-transform: scale( 1.1);
    transform: scale( 1.1);
}

.avgrund-ready body,
.avgrund-ready .avgrund-contents,
.avgrund-ready .avgrund-popup,
.avgrund-ready .avgrund-cover {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.avgrund-ready .avgrund-popup.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

